<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


        <bean id = "authorRepository" class = "com.parcial.repository.impl.AuthorRepositoryImpl" init-method = "init">
        </bean>
        <bean id = "postRepository" class = "com.parcial.repository.impl.PostRepositoryImpl" init-method = "init">
                    <constructor-arg ref="authorRepository"></constructor-arg>

        </bean>
        <bean id = "authorService" class = "com.parcial.service.impl.AuthorServiceImpl" >
            <constructor-arg ref="authorRepository"></constructor-arg>
        </bean>
        <bean id = "postService" class = "com.parcial.service.impl.PostServiceImpl">
            <constructor-arg ref="postRepository"></constructor-arg>
            <constructor-arg ref="authorRepository"></constructor-arg>


        </bean>
       </beans>
