<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Definición básica de un Bean -->
     <bean id="myFirstBean" class="com.example.beans.MyFirstBean">
        <property name="mensaje" value="Hola desde Spring! - Proyecto Fitness App we " />
     </bean>

    <!-- Repositories beans -->

    <bean id="userRepositoryImpl" class="com.example.repository.impl.UserRepositoryImpl"></bean>

    <!-- Services beans -->

    <bean id="userServiceImpl" class="com.example.service.impl.UserServiceImpl">
        <constructor-arg ref="userRepositoryImpl" />
    </bean>


</beans>